@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{    
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>

                        <li>@Html.ActionLink("Add Family Member", "AddMember", "Family")</li>

                        <li>@Html.ActionLink("Enroll", "Index", "Enroll")</li>

                        <li>@Html.ActionLink("Invoice", "Index", "Invoice")</li>
                        @if (User.IsInRole("Teacher"))
                        {
                            <li class="separator">---</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Classes<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Work Queue", "Queue", "Teacher")</li>
                                    <li>@Html.ActionLink("Classes", "Index", "Teacher")</li>
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                            <li>@Html.ActionLink("Manage Enrollment", "Manage", "Enroll")</li>
                            <li class="divider-vertical"></li>
                            <li>@Html.ActionLink("Mange Account", "Manage", "Family")</li>
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                            <li>@Html.ActionLink("GroupsAdmin", "Index", "GroupsAdmin")</li>
                        </ul>
                    </li>
                }
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
            }
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }
